<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="CONSOLE_ERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 只保存ERROR级别的log信息 -->
            <level>ERROR</level>
        </filter>
    </appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/root.log</File>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 只保存INFO及更高级别的log信息 -->
			<level>INFO</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d [%t] %-5p %c - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>logs/root-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 30MB -->
				<maxFileSize>30MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>


	<appender name="ROLLING_FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/error.log</File>
		<encoder>
			<pattern>%d [%t] %-5p %c - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 只保存ERROR级别的log信息 -->
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>logs/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 30MB -->
				<maxFileSize>30MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>



	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
		<appender-ref ref="ROLLING_FILE_ERROR"/>
	</root>
	
	
	<logger name="com.springmvc" level="INFO">
       <appender-ref ref="FILE" />
    </logger>



</configuration>